In [1]:
# Import Data Modules, Plotting Modules, and Stats/Regressions Packages
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn import decomposition
from sklearn.decomposition import PCA
from matplotlib.mlab import PCA
from scipy.misc import lena
from scipy.stats import mode
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge, Lasso, ElasticNet, RidgeCV, LassoCV, ElasticNetCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.grid_search import GridSearchCV
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format ='retina'

/home/dsi-student/Downloads/conda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/dsi-student/Downloads/conda/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [2]:
cd

/home/dsi-student

# Indicator Dataframe 1: Poverty and Equity

In [3]:
# Upload Poverty and Equity Data Set
df1 = pd.read_csv('Desktop/ECON628-01-RPanlilio/poverryandequity.csv')

### The Poverty and Equity Data Set contains information on national population at different income levels for different countries.

## Reshape Poverty and Equity Data Set

In [4]:
# Rename Column Names
df1.rename(columns={'country':'Country'}, inplace=True)
df1.rename(columns={'Date':'year'}, inplace=True)
df1.rename(columns={'Value':'value'}, inplace=True)

# Drop Columns
df1.drop('Unit', axis=1, inplace=True)

# Rename Country Names
df1.loc[df1.Country == 'Congo, Dem. Rep.', 'Country'] = 'Congo, DR'
df1.loc[df1.Country == 'Congo, Rep.', 'Country'] = 'Congo'
df1.loc[df1.Country == "Cote d'Ivoire", 'Country'] = 'Ivory Coast'
df1.loc[df1.Country == 'Lao PDR', 'Country'] = 'Laos'

# Create Base Dataframe to Merge onto
merge_base = pd.DataFrame(df1, columns = ['Country', 'year'])

# Create List of Unique Values for Countries, Years, and Indicators
indicators = df1.indicator.unique()
years = df1.year.unique()
countries = df1.Country.unique()

# Create Dataframes for each Indicator, Rename Columns, and Merge onto Base Dataframe
for i in indicators:
    df1_i = df1[df1.indicator == i]
    df1_i.rename(columns={'value':i}, inplace=True)
    merge_base = pd.merge(merge_base, df1_i, on=['Country', 'year'], how='left')

# Drop Duplicate Columns
merge_base.drop('indicator_x', axis=1, inplace=True)
merge_base.drop('indicator_y', axis=1, inplace=True)

# Rename Base Dataframe
df1_indicators = merge_base

/home/dsi-student/Downloads/conda/lib/python2.7/site-packages/pandas/core/frame.py:2834: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [5]:
# Check for Null/Missing Values in Indicator Data Set
df1_indicators.isnull().sum(axis=0)

Country                                                                                                               0
year                                                                                                                  0
Number of poor at $1.25 a day (PPP) (millions)                                                                     1414
Number of poor at $1.90 a day (2011 PPP) (millions)                                                                 983
Number of poor at $2 a day (PPP) (millions)                                                                        1414
Number of poor at $2.5 a day (PPP) (millions)                                                                      1414
Number of poor at $3.10 a day (2011 PPP) (millions)                                                                 983
Number of poor at $4 a day (PPP) (millions)                                                                        1414
Number of poor at $5 a day (PPP) (millions)                                                                        1414
Poverty gap at $1.25 a day (PPP) (%)                                                                               1414
Poverty gap at $1.90 a day (2011 PPP) (%)                                                                           983
Poverty gap at $2 a day (PPP) (%)                                                                                  1414
Poverty gap at $2.5 a day (PPP) (%)                                                                                1414
Poverty gap at $3.10 a day (2011 PPP) (%)                                                                           983
Poverty gap at $4 a day (PPP) (%)                                                                                  1414
Poverty gap at $5 a day (PPP) (%)                                                                                  1414
Poverty headcount ratio at $1.25 a day (PPP) (% of population)                                                     1414
Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)                                                 983
Poverty headcount ratio at $2 a day (PPP) (% of population)                                                        1414
Poverty headcount ratio at $2.5 a day (PPP) (% of population)                                                      1414
Poverty headcount ratio at $3.10 a day (2011 PPP) (% of population)                                                 983
Poverty headcount ratio at $4 a day (PPP) (% of population)                                                        1414
Poverty headcount ratio at $5 a day (PPP) (% of population)                                                        1414
Urban poverty headcount ratio at national poverty lines (% of urban population)                                    2092
Urban poverty headcount ratio at national poverty lines (% of urban population), including noncomparable values    1907
Poverty gap at national poverty line (%)                                                                           2793
Poverty gap at national poverty line (%), including noncomparable values                                           2560
Poverty gap at rural poverty line (%)                                                                              3360
Poverty gap at rural poverty line (%), including noncomparable values                                              3143
Poverty gap at urban poverty line (%)                                                                              3360
Poverty gap at urban poverty line (%), including noncomparable values                                              3168
Poverty headcount ratio at national poverty line (% of population)                                                 1731
Poverty headcount ratio at national poverty line (% of population), including noncomparable values                 1428
Poverty headcount ratio at rural poverty line (% of rural population)                                              2086
Poverty headcount ratio at rural poverty line (% of rural population), including noncomparable values              1869
Poverty headcount ratio at urban poverty line (% of urban population)                                              2140
Poverty headcount ratio at urban poverty line (% of urban population), including noncomparable values              1948
Rural poverty gap at national poverty line (%)                                                                     3277
Rural poverty gap at national poverty line (%), including noncomparable values                                     3067
Rural poverty headcount ratio at national poverty lines (% of rural population)                                    2038
Rural poverty headcount ratio at national poverty lines (% of rural population), including noncomparable values    1828
Urban poverty gap at national poverty lines (%)                                                                    3277
Urban poverty gap at national poverty lines (%), including noncomparable values                                    3092
GINI index                                                                                                          887
Income share held by fourth 20%                                                                                     887
Income share held by highest 10%                                                                                    887
Income share held by highest 20%                                                                                    887
Income share held by lowest 10%                                                                                     887
Income share held by lowest 20%                                                                                     887
Income share held by second 20%                                                                                     887
Income share held by third 20%                                                                                      887
Population, Total                                                                                                    14
Annualized growth in per capita real survey mean consumption or income, bottom 40% (%)                             4880
Annualized growth in per capita real survey mean consumption or income, total population (%)                       4880
Survey mean consumption or income per capita, bottom 40% (2011 PPP $ per day)                                      4422
Survey mean consumption or income per capita, total population (2011 PPP $ per day)                                4422
Annualized growth in per capita real survey mean consumption or income, bottom 40% (%, based on 2005 PPP)          4930
Annualized growth in per capita real survey mean consumption or income, total population (%, based on 2005 PPP)    4930
Survey mean consumption or income per capita, bottom 40% (2005 PPP $ per day)                                      4383
Survey mean consumption or income per capita, total population (2005 PPP $ per day)                                4383
dtype: int64

In [6]:
# Description of Indicator Data Set
df1_indicators.describe()

,year,Number of poor at $1.25 a day (PPP) (millions),Number of poor at $1.90 a day (2011 PPP) (millions),Number of poor at $2 a day (PPP) (millions),Number of poor at $2.5 a day (PPP) (millions),Number of poor at $3.10 a day (2011 PPP) (millions),Number of poor at $4 a day (PPP) (millions),Number of poor at $5 a day (PPP) (millions),Poverty gap at $1.25 a day (PPP) (%),Poverty gap at $1.90 a day (2011 PPP) (%),...,Income share held by third 20%,"Population, Total","Annualized growth in per capita real survey mean consumption or income, bottom 40% (%)","Annualized growth in per capita real survey mean consumption or income, total population (%)","Survey mean consumption or income per capita, bottom 40% (2011 PPP $ per day)","Survey mean consumption or income per capita, total population (2011 PPP $ per day)","Annualized growth in per capita real survey mean consumption or income, bottom 40% (%, based on 2005 PPP)","Annualized growth in per capita real survey mean consumption or income, total population (%, based on 2005 PPP)","Survey mean consumption or income per capita, bottom 40% (2005 PPP $ per day)","Survey mean consumption or income per capita, total population (2005 PPP $ per day)"
count,5492.000000,4078.000000,4509.000000,4078.000000,4078.000000,4509.000000,4078.000000,4078.000000,4078.000000,4509.000000,...,4605.000000,5.478000e+03,612.000000,612.000000,1070.000000,1070.000000,562.000000,562.000000,1109.000000,1109.000000
mean,2000.573379,35.778841,29.603975,67.003229,76.665893,61.781855,90.277155,93.531992,14.084803,11.409681,...,14.765385,9.047827e+07,4.005384,3.271394,2.096867,4.625266,4.371779,2.703594,1.208712,2.651445
std,9.338798,93.581207,85.371104,177.831888,200.952061,171.629785,233.983266,240.766139,13.412650,13.418575,...,1.343212,2.341066e+08,2.346531,2.066069,1.347644,3.063282,2.394257,1.422446,0.626257,1.465406
min,1974.000000,0.084009,0.026760,0.288032,0.427358,0.337134,0.781053,0.946727,0.040000,0.000000,...,9.550000,6.367020e+05,0.037100,-0.570600,0.290000,0.760000,1.400000,-0.390000,0.460000,1.470000
25%,1994.000000,2.390842,1.437700,5.013769,6.574045,3.667544,8.259569,8.436971,2.960000,1.600000,...,14.030000,9.008230e+06,2.214600,1.662900,1.214639,2.966043,2.990000,1.810000,0.880000,1.750000
50%,2003.000000,4.945801,4.029312,8.811137,11.240693,7.919625,15.915454,16.618040,11.170000,5.760000,...,14.880000,1.857153e+07,3.201500,3.472500,1.820000,3.840000,3.510000,3.040000,1.040000,2.260000
75%,2008.000000,13.993091,14.067027,21.756216,26.594266,21.402932,35.859912,42.243874,22.170000,19.010000,...,15.690000,6.413667e+07,5.036087,3.949492,2.390000,4.420000,7.290000,3.780000,1.380000,2.460000
max,2015.000000,468.643800,432.747660,851.223392,975.961328,835.320016,1129.376674,1160.368088,65.360000,63.590000,...,17.910000,1.311051e+09,9.575100,9.626500,6.540000,14.770000,9.210000,4.360000,3.240000,7.500000

In [7]:
# Data Types of Indicator Data Set
df1_indicators.dtypes

Country                                                                                                             object
year                                                                                                                 int64
Number of poor at $1.25 a day (PPP) (millions)                                                                     float64
Number of poor at $1.90 a day (2011 PPP) (millions)                                                                float64
Number of poor at $2 a day (PPP) (millions)                                                                        float64
Number of poor at $2.5 a day (PPP) (millions)                                                                      float64
Number of poor at $3.10 a day (2011 PPP) (millions)                                                                float64
Number of poor at $4 a day (PPP) (millions)                                                                        float64
Number of poor at $5 a day (PPP) (millions)                                                                        float64
Poverty gap at $1.25 a day (PPP) (%)                                                                               float64
Poverty gap at $1.90 a day (2011 PPP) (%)                                                                          float64
Poverty gap at $2 a day (PPP) (%)                                                                                  float64
Poverty gap at $2.5 a day (PPP) (%)                                                                                float64
Poverty gap at $3.10 a day (2011 PPP) (%)                                                                          float64
Poverty gap at $4 a day (PPP) (%)                                                                                  float64
Poverty gap at $5 a day (PPP) (%)                                                                                  float64
Poverty headcount ratio at $1.25 a day (PPP) (% of population)                                                     float64
Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)                                                float64
Poverty headcount ratio at $2 a day (PPP) (% of population)                                                        float64
Poverty headcount ratio at $2.5 a day (PPP) (% of population)                                                      float64
Poverty headcount ratio at $3.10 a day (2011 PPP) (% of population)                                                float64
Poverty headcount ratio at $4 a day (PPP) (% of population)                                                        float64
Poverty headcount ratio at $5 a day (PPP) (% of population)                                                        float64
Urban poverty headcount ratio at national poverty lines (% of urban population)                                    float64
Urban poverty headcount ratio at national poverty lines (% of urban population), including noncomparable values    float64
Poverty gap at national poverty line (%)                                                                           float64
Poverty gap at national poverty line (%), including noncomparable values                                           float64
Poverty gap at rural poverty line (%)                                                                              float64
Poverty gap at rural poverty line (%), including noncomparable values                                              float64
Poverty gap at urban poverty line (%)                                                                              float64
Poverty gap at urban poverty line (%), including noncomparable values                                              float64
Poverty headcount ratio at national poverty line (% of population)                                                 float64
Poverty headcount ratio at national poverty line (% of population), including noncomparable values                 float64
Poverty headcount ratio at rural poverty line (% of rural population)                                              float64
Poverty headcount ratio at rural poverty line (% of rural population), including noncomparable values              float64
Poverty headcount ratio at urban poverty line (% of urban population)                                              float64
Poverty headcount ratio at urban poverty line (% of urban population), including noncomparable values              float64
Rural poverty gap at national poverty line (%)                                                                     float64
Rural poverty gap at national poverty line (%), including noncomparable values                                     float64
Rural poverty headcount ratio at national poverty lines (% of rural population)                                    float64
Rural poverty headcount ratio at national poverty lines (% of rural population), including noncomparable values    float64
Urban poverty gap at national poverty lines (%)                                                                    float64
Urban poverty gap at national poverty lines (%), including noncomparable values                                    float64
GINI index                                                                                                         float64
Income share held by fourth 20%                                                                                    float64
Income share held by highest 10%                                                                                   float64
Income share held by highest 20%                                                                                   float64
Income share held by lowest 10%                                                                                    float64
Income share held by lowest 20%                                                                                    float64
Income share held by second 20%                                                                                    float64
Income share held by third 20%                                                                                     float64
Population, Total                                                                                                  float64
Annualized growth in per capita real survey mean consumption or income, bottom 40% (%)                             float64
Annualized growth in per capita real survey mean consumption or income, total population (%)                       float64
Survey mean consumption or income per capita, bottom 40% (2011 PPP $ per day)                                      float64
Survey mean consumption or income per capita, total population (2011 PPP $ per day)                                float64
Annualized growth in per capita real survey mean consumption or income, bottom 40% (%, based on 2005 PPP)          float64
Annualized growth in per capita real survey mean consumption or income, total population (%, based on 2005 PPP)    float64
Survey mean consumption or income per capita, bottom 40% (2005 PPP $ per day)                                      float64
Survey mean consumption or income per capita, total population (2005 PPP $ per day)                                float64
dtype: object

In [8]:
# Info of Indicator Data Set
df1_indicators.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5492 entries, 0 to 5491
Data columns (total 60 columns):
Country                                                                                                            5492 non-null object
year                                                                                                               5492 non-null int64
Number of poor at $1.25 a day (PPP) (millions)                                                                     4078 non-null float64
Number of poor at $1.90 a day (2011 PPP) (millions)                                                                4509 non-null float64
Number of poor at $2 a day (PPP) (millions)                                                                        4078 non-null float64
Number of poor at $2.5 a day (PPP) (millions)                                                                      4078 non-null float64
Number of poor at $3.10 a day (2011 PPP) (millions)                                                                4509 non-null float64
Number of poor at $4 a day (PPP) (millions)                                                                        4078 non-null float64
Number of poor at $5 a day (PPP) (millions)                                                                        4078 non-null float64
Poverty gap at $1.25 a day (PPP) (%)                                                                               4078 non-null float64
Poverty gap at $1.90 a day (2011 PPP) (%)                                                                          4509 non-null float64
Poverty gap at $2 a day (PPP) (%)                                                                                  4078 non-null float64
Poverty gap at $2.5 a day (PPP) (%)                                                                                4078 non-null float64
Poverty gap at $3.10 a day (2011 PPP) (%)                                                                          4509 non-null float64
Poverty gap at $4 a day (PPP) (%)                                                                                  4078 non-null float64
Poverty gap at $5 a day (PPP) (%)                                                                                  4078 non-null float64
Poverty headcount ratio at $1.25 a day (PPP) (% of population)                                                     4078 non-null float64
Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)                                                4509 non-null float64
Poverty headcount ratio at $2 a day (PPP) (% of population)                                                        4078 non-null float64
Poverty headcount ratio at $2.5 a day (PPP) (% of population)                                                      4078 non-null float64
Poverty headcount ratio at $3.10 a day (2011 PPP) (% of population)                                                4509 non-null float64
Poverty headcount ratio at $4 a day (PPP) (% of population)                                                        4078 non-null float64
Poverty headcount ratio at $5 a day (PPP) (% of population)                                                        4078 non-null float64
Urban poverty headcount ratio at national poverty lines (% of urban population)                                    3400 non-null float64
Urban poverty headcount ratio at national poverty lines (% of urban population), including noncomparable values    3585 non-null float64
Poverty gap at national poverty line (%)                                                                           2699 non-null float64
Poverty gap at national poverty line (%), including noncomparable values                                           2932 non-null float64
Poverty gap at rural poverty line (%)                                                                              2132 non-null float64
Poverty gap at rural poverty line (%), including noncomparable values                                              2349 non-null float64
Poverty gap at urban poverty line (%)                                                                              2132 non-null float64
Poverty gap at urban poverty line (%), including noncomparable values                                              2324 non-null float64
Poverty headcount ratio at national poverty line (% of population)                                                 3761 non-null float64
Poverty headcount ratio at national poverty line (% of population), including noncomparable values                 4064 non-null float64
Poverty headcount ratio at rural poverty line (% of rural population)                                              3406 non-null float64
Poverty headcount ratio at rural poverty line (% of rural population), including noncomparable values              3623 non-null float64
Poverty headcount ratio at urban poverty line (% of urban population)                                              3352 non-null float64
Poverty headcount ratio at urban poverty line (% of urban population), including noncomparable values              3544 non-null float64
Rural poverty gap at national poverty line (%)                                                                     2215 non-null float64
Rural poverty gap at national poverty line (%), including noncomparable values                                     2425 non-null float64
Rural poverty headcount ratio at national poverty lines (% of rural population)                                    3454 non-null float64
Rural poverty headcount ratio at national poverty lines (% of rural population), including noncomparable values    3664 non-null float64
Urban poverty gap at national poverty lines (%)                                                                    2215 non-null float64
Urban poverty gap at national poverty lines (%), including noncomparable values                                    2400 non-null float64
GINI index                                                                                                         4605 non-null float64
Income share held by fourth 20%                                                                                    4605 non-null float64
Income share held by highest 10%                                                                                   4605 non-null float64
Income share held by highest 20%                                                                                   4605 non-null float64
Income share held by lowest 10%                                                                                    4605 non-null float64
Income share held by lowest 20%                                                                                    4605 non-null float64
Income share held by second 20%                                                                                    4605 non-null float64
Income share held by third 20%                                                                                     4605 non-null float64
Population, Total                                                                                                  5478 non-null float64
Annualized growth in per capita real survey mean consumption or income, bottom 40% (%)                             612 non-null float64
Annualized growth in per capita real survey mean consumption or income, total population (%)                       612 non-null float64
Survey mean consumption or income per capita, bottom 40% (2011 PPP $ per day)                                      1070 non-null float64
Survey mean consumption or income per capita, total population (2011 PPP $ per day)                                1070 non-null float64
Annualized growth in per capita real survey mean consumption or income, bottom 40% (%, based on 2005 PPP)          562 non-null float64
Annualized growth in per capita real survey mean consumption or income, total population (%, based on 2005 PPP)    562 non-null float64
Survey mean consumption or income per capita, bottom 40% (2005 PPP $ per day)                                      1109 non-null float64
Survey mean consumption or income per capita, total population (2005 PPP $ per day)                                1109 non-null float64
dtypes: float64(58), int64(1), object(1)
memory usage: 2.6+ MB

In [9]:
df1_indicators

,Country,year,Number of poor at $1.25 a day (PPP) (millions),Number of poor at $1.90 a day (2011 PPP) (millions),Number of poor at $2 a day (PPP) (millions),Number of poor at $2.5 a day (PPP) (millions),Number of poor at $3.10 a day (2011 PPP) (millions),Number of poor at $4 a day (PPP) (millions),Number of poor at $5 a day (PPP) (millions),Poverty gap at $1.25 a day (PPP) (%),...,Income share held by third 20%,"Population, Total","Annualized growth in per capita real survey mean consumption or income, bottom 40% (%)","Annualized growth in per capita real survey mean consumption or income, total population (%)","Survey mean consumption or income per capita, bottom 40% (2011 PPP $ per day)","Survey mean consumption or income per capita, total population (2011 PPP $ per day)","Annualized growth in per capita real survey mean consumption or income, bottom 40% (%, based on 2005 PPP)","Annualized growth in per capita real survey mean consumption or income, total population (%, based on 2005 PPP)","Survey mean consumption or income per capita, bottom 40% (2005 PPP $ per day)","Survey mean consumption or income per capita, total population (2005 PPP $ per day)"
0,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Angola,2000,7.562630,1.575264,9.776693,10.705486,2.647400,12.223304,12.719031,29.94,...,12.71,15058638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Angola,2008,7.942973,5.977792,12.347596,14.118603,10.816768,16.596546,17.244878,16.45,...,14.46,19842251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5462,Thailand,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,52041468.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5463,Thailand,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,53002775.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5464,Thailand,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,53979503.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5465,Thailand,1988,9.480037,7.860483,22.548749,29.291940,20.994246,41.613240,45.789952,3.44,...,13.53,54933561.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5466,Thailand,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,55812794.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5467,Thailand,1990,6.535305,5.301546,20.969558,28.319654,19.412598,40.852728,45.028533,2.36,...,12.91,56582824.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5468,Thailand,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,57225972.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5469,Thailand,1992,4.958846,3.841040,17.361727,24.609715,15.803136,37.889044,42.507690,1.57,...,12.29,57761574.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5470,Thailand,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,58237672.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5471,Thailand,1994,2.403986,1.890784,11.984836,19.401513,10.493264,34.966006,41.043236,0.74,...,13.52,58722767.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5472,Thailand,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,59266089.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5473,Thailand,1996,1.703477,1.347300,9.577592,16.236638,8.341284,32.985511,39.650514,0.48,...,13.66,59878955.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5474,Thailand,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,60544937.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5475,Thailand,1998,1.266783,0.918750,9.336436,16.486453,7.919625,32.589218,39.343365,0.33,...,14.03,61250974.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5476,Thailand,1999,2.224596,1.574038,11.954890,18.973766,10.634052,35.408658,42.137905,0.55,...,13.62,61973957.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5477,Thailand,2000,1.889004,1.598595,11.240511,18.958622,10.638493,35.859912,42.243874,0.50,...,13.65,62693322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5478,Thailand,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,63415174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5479,Thailand,2002,1.046285,0.731196,8.548911,15.496496,6.895050,32.811230,40.250058,0.29,...,14.04,64136669.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5480,Thailand,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,64817254.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5481,Thailand,2004,NaN,0.490500,NaN,NaN,5.238540,NaN,NaN,NaN,...,13.99,65404522.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5482,Thailand,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,65863973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5483,Thailand,2006,0.665428,0.456573,5.013769,10.244956,3.645967,26.221816,34.384839,0.18,...,14.30,66174486.0,NaN,NaN,NaN,NaN,NaN,NaN,2.73,6.89
5484,Thailand,2007,NaN,0.225590,NaN,NaN,2.481490,NaN,NaN,NaN,...,14.73,66353572.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5485,Thailand,2008,0.211793,0.099675,3.018052,7.882674,1.973565,24.442246,32.966918,0.04,...,14.60,66453255.0,NaN,NaN,5.150000,12.450000,NaN,NaN,NaN,NaN
5486,Thailand,2009,NaN,0.113135,NaN,NaN,1.723645,NaN,NaN,NaN,...,14.79,66548197.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5487,Thailand,2010,0.205847,0.093366,2.324081,5.604356,1.393821,20.564797,29.761518,0.04,...,14.79,66692024.0,NaN,NaN,NaN,NaN,4.34,2.16,3.24,7.50
5488,Thailand,2011,NaN,0.026760,NaN,NaN,0.782730,NaN,NaN,NaN,...,15.14,66902958.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5489,Thailand,2012,NaN,0.040296,NaN,NaN,0.826068,NaN,NaN,NaN,...,14.84,67164130.0,4.777741,3.949492,6.210629,14.537164,NaN,NaN,NaN,NaN
5490,Thailand,2013,NaN,0.026980,NaN,NaN,0.620540,NaN,NaN,NaN,...,15.09,67451422.0,4.886200,3.472500,6.540000,14.770000,NaN,NaN,NaN,NaN
5491,Thailand,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,67959359.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Indicator Dataframe 2: Index of Economic Freedom

In [10]:
# Upload Index of Economic Freedom Data Set
df2 = pd.read_csv('Desktop/ECON628-01-RPanlilio/indexofeconomicfreedom.csv')

### The Index of Economic Freedom Data Set contains information on the assessment of institutional capabilities in providing and protecting economic freedom in different countries.

## Reshape Index of Economic Freedom Data Set

In [11]:
# Rename Column Names
df2.rename(columns={'country':'Country'}, inplace=True)
df2.rename(columns={'Date':'year'}, inplace=True)
df2.rename(columns={'Value':'value'}, inplace=True)

# Drop Columns
df2.drop('Unit', axis=1, inplace=True)

# Rename Country Names
df2.loc[df2.Country == 'Democratic Republic of Congo', 'Country'] = 'Congo, DR'
df2.loc[df2.Country == 'Republic of Congo', 'Country'] = 'Congo'
df2.loc[df2.Country == "CÃƒÂ´te d'Ivoire", 'Country'] = 'Ivory Coast'

# Create Base Dataframe to Merge onto
merge_base = pd.DataFrame(df2, columns = ['Country', 'year'])

# Create List of Unique Values for Countries, Years, and Indicators
indicators = df2.indicator.unique()
years = df2.year.unique()
countries = df2.Country.unique()

# Create Dataframes for each Indicator, Rename Columns, and Merge onto Base Dataframe
for i in indicators:
    df2_i = df2[df2.indicator == i]
    df2_i.rename(columns={'value':i}, inplace=True)
    merge_base = pd.merge(merge_base, df2_i, on=['Country', 'year'], how='left')

# Drop Duplicate Columns
merge_base.drop('indicator', axis=1, inplace=True)
merge_base.drop('indicator_x', axis=1, inplace=True)
merge_base.drop('indicator_y', axis=1, inplace=True)

# Rename Base Dataframe
df2_indicators = merge_base

In [12]:
# Check for Null/Missing Values in Indicator Data Set
df2_indicators.isnull().sum(axis=0)

Country                       0
year                          0
Overall Score               224
Property Rights              96
Government Integrity         17
Judicial Effectiveness    37674
Tax Burden                  108
Government Spending          78
Fiscal Health             37668
Business Freedom             19
Labor Freedom             14922
Monetary Freedom             62
Trade Freedom               134
Investment Freedom           71
Financial Freedom           157
dtype: int64

In [13]:
# Description of Indicator Data Set
df2_indicators.describe()

,year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
count,40047.000000,39823.000000,39951.000000,40030.000000,2373.000000,39939.000000,39969.000000,2379.000000,40028.000000,25125.00000,39985.000000,39913.000000,39976.000000,39890.000000
mean,2006.986641,59.349502,47.599972,40.687479,44.628108,72.765267,64.419418,66.963094,64.153295,60.85690,72.557669,68.903893,52.825195,49.903485
std,6.555336,11.760978,24.075348,22.580648,20.806492,15.533133,24.575692,30.440943,16.155202,16.71869,15.739702,16.129061,21.241853,19.982901
min,1995.000000,1.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,2001.000000,52.700000,30.000000,25.000000,28.400000,64.800000,50.500000,46.900000,55.000000,49.50000,69.300000,61.000000,35.000000,30.000000
50%,2007.000000,59.400000,50.000000,33.500000,41.900000,75.000000,70.600000,77.200000,65.200000,61.00000,76.000000,72.000000,50.000000,50.000000
75%,2013.000000,67.200000,70.000000,52.000000,59.700000,82.900000,84.100000,92.500000,73.000000,72.90000,81.200000,80.400000,70.000000,70.000000
max,2017.000000,90.500000,97.100000,100.000000,93.000000,100.000000,99.300000,100.000000,100.000000,100.00000,95.400000,95.000000,95.000000,90.000000

In [14]:
# Data Types of Indicator Data Set
df2_indicators.dtypes

Country                    object
year                        int64
Overall Score             float64
Property Rights           float64
Government Integrity      float64
Judicial Effectiveness    float64
Tax Burden                float64
Government Spending       float64
Fiscal Health             float64
Business Freedom          float64
Labor Freedom             float64
Monetary Freedom          float64
Trade Freedom             float64
Investment Freedom        float64
Financial Freedom         float64
dtype: object

In [15]:
# Info of Indicator Data Set
df2_indicators.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40047 entries, 0 to 40046
Data columns (total 15 columns):
Country                   40047 non-null object
year                      40047 non-null int64
Overall Score             39823 non-null float64
Property Rights           39951 non-null float64
Government Integrity      40030 non-null float64
Judicial Effectiveness    2373 non-null float64
Tax Burden                39939 non-null float64
Government Spending       39969 non-null float64
Fiscal Health             2379 non-null float64
Business Freedom          40028 non-null float64
Labor Freedom             25125 non-null float64
Monetary Freedom          39985 non-null float64
Trade Freedom             39913 non-null float64
Investment Freedom        39976 non-null float64
Financial Freedom         39890 non-null float64
dtypes: float64(13), int64(1), object(1)
memory usage: 4.9+ MB

In [16]:
# Shape of Indicator Data Set
df2_indicators.shape

(40047, 15)

# Indicator Dataframe 3: Resource Statistics

In [17]:
# Upload Resource Statistics Data Set
df3 = pd.read_csv('Desktop/ECON628-01-RPanlilio/resourcestatistics.csv')

### The Resource Statistics Data Set contains information on the use of land, water, and agriculture in different countries.

## Reshape Resource Statistics Data Set

In [18]:
# Rename Column Names
df3.rename(columns={'country':'Country'}, inplace=True)
df3.rename(columns={'item':'indicator'}, inplace=True)
df3.rename(columns={'Date':'year'}, inplace=True)
df3.rename(columns={'Value':'value'}, inplace=True)

# Drop Columns
df3.drop('element', axis=1, inplace=True)
df3.drop('Unit', axis=1, inplace=True)

# Rename Country Names
df3.loc[df3.Country == 'Democratic Republic of Congo', 'Country'] = 'Congo, DR'
df3.loc[df3.Country == 'Republic of Congo', 'Country'] = 'Congo'
df3.loc[df3.Country == "CÃƒÂ´te d'Ivoire", 'Country'] = 'Ivory Coast'
df3.loc[df3.Country == "Lao People's Democratic Republic", 'Country'] = 'Laos'

# Create Base Dataframe to Merge onto
df3_indicators = pd.DataFrame(df3, columns = ['Country', 'year'])

# Create List of Unique Values for Countries, Years, and Indicators
indicators = df3.indicator.unique()
years = df3.year.unique()
countries = df3.Country.unique()

# Create Dataframes for each Indicator, Rename Columns, and Merge onto Base Dataframe
for i in indicators:
    df3_i = df3[df3.indicator == i]
    df3_i.rename(columns={'value':i}, inplace=True)
    df3_indicators = pd.merge(df3_indicators, df3_i, on=['Country', 'year'], how='left')

# Drop Duplicate Columns
df3_indicators.drop('indicator', axis=1, inplace=True)
df3_indicators.drop('indicator_x', axis=1, inplace=True)
df3_indicators.drop('indicator_y', axis=1, inplace=True)

In [19]:
# Check for Null/Missing Values in Indicator Data Set
df3_indicators.isnull().sum(axis=0)

Country                                                                0
year                                                                   0
Country area                                                         182
Land area                                                            182
Agricultural area                                                   1444
Agricultural area organic, total                                  204482
Agricultural area certified organic                               229188
Agricultural area in conversion to organic                        234896
Agricultural area actually irrigated                              232148
Arable land and Permanent crops                                     2888
Arable land                                                         5051
Temporary crops                                                   222902
Fallow land (temporary)                                           216150
Permanent crops                                                    16945
Permanent meadows and pastures                                     17109
Perm. meadows & pastures - Nat. growing                           241414
Forest                                                             58391
Other land                                                         63495
Total area equipped for irrigation                                 39354
Primary forest                                                     59656
Planted forest                                                     59656
Other naturally regenerated forest                                 59656
Arable land organic, total                                        249004
Arable land area certified organic                                251226
Arable land area in conversion to organic                         252264
Area of arable land and permanent crops under protective cover    248460
Temporary meadows and pastures                                    240420
Permanent crops organic, total                                    248922
Permanent crops area certified organic                            251516
Permanent crops area in conversion to organic                     253082
Inland water                                                       58551
Perm. meadows & pastures - Cultivated                             242810
Permanent meadows and pastures organic, total                     250888
Permanent meadows and pastures area certified organic             252366
Permanent meadows and pastures area in conversion to organic      253176
dtype: int64

In [20]:
# Description of Indicator Data Set
df3_indicators.describe()

,year,Country area,Land area,Agricultural area,"Agricultural area organic, total",Agricultural area certified organic,Agricultural area in conversion to organic,Agricultural area actually irrigated,Arable land and Permanent crops,Arable land,...,Area of arable land and permanent crops under protective cover,Temporary meadows and pastures,"Permanent crops organic, total",Permanent crops area certified organic,Permanent crops area in conversion to organic,Inland water,Perm. meadows & pastures - Cultivated,"Permanent meadows and pastures organic, total",Permanent meadows and pastures area certified organic,Permanent meadows and pastures area in conversion to organic
count,263146.000000,2.629640e+05,2.629640e+05,2.617020e+05,58664.000000,33958.000000,28250.000000,30998.000000,2.602580e+05,2.580950e+05,...,14686.000000,22726.000000,14224.000000,11630.000000,10064.000000,204595.000000,20336.000000,12258.000000,10780.000000,9970.000000
mean,1996.636981,2.780070e+05,2.693809e+05,1.028690e+05,274.742249,313.639023,44.730478,2430.791302,3.149465e+04,2.902116e+04,...,13.891934,812.573038,30.208907,21.591678,5.499781,11203.340076,3809.523384,119.681718,92.144104,21.501599
std,13.691438,1.025577e+06,9.923343e+05,3.723026e+05,1108.213148,1300.751173,91.005514,8906.174553,1.177707e+05,1.082474e+05,...,52.790386,2108.647324,80.419018,63.433657,16.466270,38901.342446,12785.116093,182.607619,149.699029,41.145852
min,1961.000000,1.000000e+00,1.000000e+00,3.000000e-01,0.000000,0.000000,0.000000,0.000000,3.000000e-01,8.000000e-02,...,0.000000,0.300000,0.050000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1991.000000,1.858000e+03,1.828000e+03,4.250000e+02,2.500000,3.550000,1.000000,25.000000,1.420000e+02,1.200000e+02,...,0.390000,61.000000,0.900000,0.560000,0.100000,100.000000,53.000000,10.500000,6.000000,2.400000
50%,2000.000000,1.638200e+04,1.560000e+04,4.720000e+03,21.960000,30.400000,8.400000,164.400000,2.024000e+03,1.707000e+03,...,1.930000,210.000000,1.850000,1.300000,0.500000,600.000000,724.200000,47.200000,26.600000,10.900000
75%,2007.000000,9.237700e+04,8.858000e+04,3.649000e+04,156.500000,149.000000,36.000000,1310.000000,9.786000e+03,8.479000e+03,...,7.000000,786.000000,6.200000,3.800000,2.350000,2522.000000,2881.000000,105.800000,74.800000,21.000000
max,2014.000000,1.346718e+07,1.305576e+07,4.954548e+06,17150.000000,17150.000000,626.600000,66103.000000,1.584563e+06,1.417153e+06,...,824.000000,25607.000000,490.300000,403.800000,110.500000,457620.200000,113005.200000,1307.400000,795.900000,385.600000

In [21]:
# Data Types of Indicator Data Set
df3_indicators.dtypes

Country                                                            object
year                                                                int64
Country area                                                      float64
Land area                                                         float64
Agricultural area                                                 float64
Agricultural area organic, total                                  float64
Agricultural area certified organic                               float64
Agricultural area in conversion to organic                        float64
Agricultural area actually irrigated                              float64
Arable land and Permanent crops                                   float64
Arable land                                                       float64
Temporary crops                                                   float64
Fallow land (temporary)                                           float64
Permanent crops                                                   float64
Permanent meadows and pastures                                    float64
Perm. meadows & pastures - Nat. growing                           float64
Forest                                                            float64
Other land                                                        float64
Total area equipped for irrigation                                float64
Primary forest                                                    float64
Planted forest                                                    float64
Other naturally regenerated forest                                float64
Arable land organic, total                                        float64
Arable land area certified organic                                float64
Arable land area in conversion to organic                         float64
Area of arable land and permanent crops under protective cover    float64
Temporary meadows and pastures                                    float64
Permanent crops organic, total                                    float64
Permanent crops area certified organic                            float64
Permanent crops area in conversion to organic                     float64
Inland water                                                      float64
Perm. meadows & pastures - Cultivated                             float64
Permanent meadows and pastures organic, total                     float64
Permanent meadows and pastures area certified organic             float64
Permanent meadows and pastures area in conversion to organic      float64
dtype: object

In [25]:
# Info of Indicator Data Set
df3_indicators.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263146 entries, 0 to 263145
Data columns (total 35 columns):
Country                                                           263146 non-null object
year                                                              263146 non-null int64
Country area                                                      262964 non-null float64
Land area                                                         262964 non-null float64
Agricultural area                                                 261702 non-null float64
Agricultural area organic, total                                  58664 non-null float64
Agricultural area certified organic                               33958 non-null float64
Agricultural area in conversion to organic                        28250 non-null float64
Agricultural area actually irrigated                              30998 non-null float64
Arable land and Permanent crops                                   260258 non-null float64
Arable land                                                       258095 non-null float64
Temporary crops                                                   40244 non-null float64
Fallow land (temporary)                                           46996 non-null float64
Permanent crops                                                   246201 non-null float64
Permanent meadows and pastures                                    246037 non-null float64
Perm. meadows & pastures - Nat. growing                           21732 non-null float64
Forest                                                            204755 non-null float64
Other land                                                        199651 non-null float64
Total area equipped for irrigation                                223792 non-null float64
Primary forest                                                    203490 non-null float64
Planted forest                                                    203490 non-null float64
Other naturally regenerated forest                                203490 non-null float64
Arable land organic, total                                        14142 non-null float64
Arable land area certified organic                                11920 non-null float64
Arable land area in conversion to organic                         10882 non-null float64
Area of arable land and permanent crops under protective cover    14686 non-null float64
Temporary meadows and pastures                                    22726 non-null float64
Permanent crops organic, total                                    14224 non-null float64
Permanent crops area certified organic                            11630 non-null float64
Permanent crops area in conversion to organic                     10064 non-null float64
Inland water                                                      204595 non-null float64
Perm. meadows & pastures - Cultivated                             20336 non-null float64
Permanent meadows and pastures organic, total                     12258 non-null float64
Permanent meadows and pastures area certified organic             10780 non-null float64
Permanent meadows and pastures area in conversion to organic      9970 non-null float64
dtypes: float64(33), int64(1), object(1)
memory usage: 72.3+ MB